.list{
    overflow-y: auto;
    width: 100%;
    height:42vh;
    border-radius: 1vw;
    overscroll-behavior: 0vw;
}
.list::-webkit-scrollbar{
    display: none;
}

.cherom1 {
    width: 90%;
    height: 20vw;
    text-align: center;
    font-size: 3vw;
    margin: 0px;
}