.true {
  color: rgb(243, 243, 238);
  width: 3vw;
  height: 3vw;
  border-radius: 0.5vw;
  border: none;
  font-size: 2vw;
  background-color: black;
}

.false {
  color: rgb(43, 28, 13);
  width: 3vw;
  height: 3vw;
  border-radius: 0.5vw;
  border: none;
  font-size: 2vw;
  background-color: rgb(243, 170, 87);
}
