
.relativeMenu {
  position: absolute;
  height: fit-content;
  width: 25vw;
  right: 30vw;
  background-color: white;
  border-radius: 1vw;
}

.divRow {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  align-items: center;
  width: 90%;
  justify-content: end;
}

.buttonUpMenuRelative {
  width: 3vw;
  height: 2.5vw;
}

.upText {
  font-size: 2vw;
  width: 90%;
  text-align: right;
  margin: 0px;
  padding-top: 1vw;
}

.divColor {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  height: fit-content;
  align-items: center;
  gap: 0.5vw;
}

.divOneButtonColor {
  width: 1vw;
  height: 1vw;
}

.btnSearch:hover{
    background-color: gray;
}

.textUp {
  margin-left: 1vw;
  margin-right: 1vw;
}

.buttonColors {
  display: flex;
  flex-direction: row-reverse;
  gap: 1vw;
  background-color: black;
  padding: 0.5vw;
  border-radius: 0.2vw;
}

.buttonColors button {
  width: 2vw;
  height: 2vw;
}
