:root {
  --maincolor: rgb(113, 58, 185);
}
.classMainDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maincolor);
}

.classCenterDiv {
  width: 20rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 7, 77, 0.603);
}

.classMainTitle {
  width: 100%;
  height: fit-content;
  text-align: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

.classPassword {
  width: 90%;
  height: 2.5rem;
  background-color: rgba(22, 7, 77, 0.603);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.classInput {
  color: white;
  font-size: 1.3rem;
  width: 80%;
  height: fit-content;
  text-align: start;
  padding-left: 0.3rem;
  background-color: transparent;
  outline: none;
  border: none;
}

.classCopyDiv {
  background-color: var(--maincolor);
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.classDivProperty {
  width: 90%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.6rem;
}

.classNumber {
  width: 13%;
  height: 60%;
  background-color: white;
  margin-left: 1rem;
  outline: none;
}

.classText {
  width: 90%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.6rem;
}

.classP {
  color: white;
  font-size: 1.3rem;
  width: 80%;
  font-size: 1rem;
}

.classBtnGenerate {
  background-color: var(--maincolor);
  width: 90%;
  height: 2.3rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.classCb {
  width: 10%;
  height: 60%;
  background-color: white;
  margin-left: 1.6rem;
  outline: none;
}

.lengthTextClass {
  color: white;
  font-size: 1.3rem;
  width: 80%;
  font-size: 1rem;
}
