.shemShcuna {
  width: fit-content;
  height: fit-content;
  font-size: 10vw;
  color: black;
  background-color: aqua;
  border-radius: 1vw;
  font-size: 3vw;
  margin-top: 1vw;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 4vw;
  padding-right: 4vw;
  margin-bottom: 0px;
}
