.content {
  width: 80vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 5rem);
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 25vw;
  border-radius: 1rem;
  background-color: rgba(73, 90, 134, 0.733);
  padding: 2vw;
}

.usersManage {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 25.555vw;
  border-radius: 0.5vw;
  background-color: white;
  padding: 1.7vw;
  margin-left: -3vw;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allUsers {
  width: 98%;
  height: 98%;
  background-color: rgba(178, 196, 230, 0.664);
  border-radius: 0.5vw;
}

.line {
  width: 55%;
  height: 0.1vw;
  background-color: white;
  border-radius: 0.1vw;
}

.choose {
  font-size: 2.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(73, 90, 134, 0.733);
  cursor: pointer;
  margin: 0px;
}

.not_choose {
  font-size: 2.5vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0px;
  cursor: pointer;
}
.upUsersLine {
  width: 100%;
  height: 3vw;
  background-color: rgba(73, 90, 134, 0.733);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1vw;
}

.usersContent {
  width: 46vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  align-items: center;
  justify-content: center;
  padding-left: 0.1vw;
  padding-right: 1vw;
}

.scrollUsers {
  width: fit-content;
  height: 15vw;
  overflow: auto;
  margin: 0.5vw;
  width: 100%;
  padding-top: 0.5vw;
  padding-bottom: 2vw;
}

.row {
  height: 3vw;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1vw;
  font-size: 1vw;
  border-radius: 0.5vw;

  background-color: rgba(73, 90, 134, 0.733);
}

.divSelector{
  margin-left: 2.5vw;
}

.myTitleRole{
  margin-left: 3vw;
}

.titleUser {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   text-align: center;
  width: 15vw;
}

.titleGmail {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  width: fit-content;
  width: 20vw;
  
}

.title {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

.divSelector {
  width: fit-content;
  height: calc(6vw - (0.3 * 100vw));
  border-radius: 0.3vw;
  margin-right: 0.5vw;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1vw;
}

.lineBlack {
  background-color: black;
  width: 100%;
  height: 0.1vw;
}
.saveSuccess {
  position: absolute;
  width: fit-content;
  height: fit-content;
  z-index: 1000;
}
.classCloseOrOpen {
  display: none;
  position: absolute;
  top: 0.1vw;
  left: 4vw;
  z-index: 1000000;
  cursor: pointer;
}

.myTitleRole {
  background-color: white;
  border-radius: 0.1vw;
  padding-top: 0.1vw;
  padding-bottom: 0.1vw;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  margin-right: 1.6vw;
}
