.oneInMenufalse {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-color: white;
  padding: 1vw;
}

.oneInMenutrue {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-color:  rgb(212, 201, 201);
  padding: 1vw;

}

.oneInMenuLeftfalse {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-color: white;
  padding: 1vw;
}

.oneInMenuLefttrue {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-color:  rgb(212, 201, 201);
  padding: 1vw;
  border-top-right-radius: 1vw;
}

.oneInMenuRightfalse {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-color: white;
  padding: 1vw;
  
}

.oneInMenuRighttrue {
  flex-grow: 1;
  width: 100%;
  text-align: center;
  margin: 0px;
  background-color:  rgb(212, 201, 201);
  padding: 1vw;
  border-top-left-radius: 1vw;
  
}

.menuUp {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1vw;
}
