.menuAll {
  width: 60vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 80vw;
  z-index: 10000;
  background-color: blue;
}

.menuOrder {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: calc(100vh - 7vw);
  left: 70vw;
  top: 7vw;
  position: absolute;
  z-index: 100000000;
  background-color: white;
  align-items: center;
}




.menuUp {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}

.main{
    width: 90%;
    height: 77vh;
    background-color: rgb(212, 201, 201);
    border-radius: 1vw;
    margin-top: 0.5VW;

}
